<template>
  <div>
    <v-dialog v-model="dialog" max-width="500">
      <ProfileCompact :name="selectedName" />
    </v-dialog>

    <v-container>
      <v-row no-gutters>
        <v-col>
          <div class="text-h3">Christchurch Rankings</div>
          <v-data-table :headers="headers" :items="desserts" class="elevation-1">
            <template v-slot:item.footPoints="{ item }">
              <v-chip :color="getColor(600 - item.footPoints)" dark>{{ item.footPoints}}</v-chip>
            </template>
          </v-data-table>
        </v-col>
        <v-col>
          <div class="text-h3">Inter-Company Competition</div>
          <v-data-table @click:row="openProfile" :headers="headers" :items="entrees" class="elevation-1">
            <template v-slot:item.footPoints="{ item }">
              <v-chip :color="getColor(600 - item.footPoints)" dark>{{ item.footPoints}}</v-chip>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script>
  import ProfileCompact from "@/components/ProfileCompact"
  export default {
    name: "leaderboard",
    components: {
      ProfileCompact
    },
    data() {
      return {
        selectedName: "",
        dialog: false,
        headers: [
          {
            text: "Participants",
            align: "start",
            sortable: false,
            value: "name"
          },
          { text: "Footsteps", value: "footPoints" }
        ],
        entrees: [
          {
            name: "Bill Gates",
            footPoints: 159
          },
          {
            name: "Elon Musk",
            footPoints: 237
          },
          {
            name: "Jeff Bezos",
            footPoints: 262
          },
          {
            name: "Mark Zuckerberg",
            footPoints: 305
          },
          {
            name: "Gingerbread",
            footPoints: 356
          },
          {
            name: "Steve Ballmer",
            footPoints: 375
          },
          {
            name: "Kim kardasian",
            footPoints: 392
          },
          {
            name: "Justin Bieber ",
            footPoints: 408
          },
          {
            name: "Donald Trump",
            footPoints: 452
          },
          {
            name: "Charei Damelio",
            footPoints: 518
          }
        ],
        desserts: [
          {
            name: "Bill Gates",
            footPoints: 159
          },
          {
            name: "Elon Musk",
            footPoints: 237
          },
          {
            name: "Jeff Bezos",
            footPoints: 262
          },
          {
            name: "Mark Zuckerberg",
            footPoints: 305
          },
          {
            name: "Gingerbread",
            footPoints: 356
          },
          {
            name: "Steve Ballmer",
            footPoints: 375
          },
          {
            name: "Kim kardasian",
            footPoints: 392
          },
          {
            name: "Justin Bieber ",
            footPoints: 408
          },
          {
            name: "Donald Trump",
            footPoints: 452
          },
          {
            name: "Charei Damelio",
            footPoints: 518
          }
        ]
      };
    },
    methods: {
      getColor(footPoints) {
        if (footPoints > 400) return "red";
        else if (footPoints > 200) return "orange";
        else return "green";
      },
      openProfile(row) {
        this.selectedName = row.name
        this.dialog = true;
      }
    },
    mounted() {
      this.desserts.sort(function(a, b) {
        return b.footPoints - a.footPoints;
      });
      this.entrees.sort(function(a, b) {
        return b.footPoints - a.footPoints;
      });
    }
  };
</script>

<style scoped>
</style>
