<template>
  <div>
    Register page
  </div>
</template>

<script>
  export default {
    name: "Register",
    components: {},
    data: function() {},
    created() {},
    methods: {}
  };
</script>

<style scoped>
</style>
