<template>
  <div>
    <v-container>
      <v-row no-gutters>
        <v-col>
          <v-img src="@/assets/map.png" />
        </v-col>
        <v-col>
          <v-list-item v-for="item in busses" :key="item.title">
            <v-list-item-avatar>
              <v-icon>mdi-bus</v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="item.route"></v-list-item-title>
              <v-list-item-subtitle v-text="item.time"></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-btn icon>
                <v-icon color="grey lighten-1">mdi-information</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
    name: "BusTimetable",
    components: {},
    data: function() {
      return {
        busses: [
          {
            route: "Yellow",
            time: "15:23"
          },
          {
            route: "Yellow",
            time: "15:43"
          },
          {
            route: "Orbiter",
            time: "16:15"
          },
          {
            route: "Yellow",
            time: "16:23"
          },
          {
            route: "Yellow",
            time: "15:43"
          }
        ]
      };
    }
  };
</script>

<style scoped>
</style>
