
<template>
  <v-card class="mx-auto" max-width="800">
    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="headline">Carbon Emission for this week</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-card-text>
      <v-row align="center">
        <v-col class="display-3" cols="7">{{ emission }} grams</v-col>
        <v-col cols="6"></v-col>
      </v-row>
    </v-card-text>

    <v-divider></v-divider>
  </v-card>
</template>

<script>
  export default {
    props: ["footsteps"],
    watch: {
      footsteps: function() {
        this.emission += Math.floor(41723 / this.footsteps)
      }
    },
    name: "CarbonEmissisonCard",
    data() { return {
      emission: 0
    } }
  };
</script>

<style scoped>
</style>
