
<template>
  <v-card class="mx-auto" max-width="800">
    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="headline">Cost for this bundle per week</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-card-text>
      <v-row align="center">
        <v-col class="display-3" cols="7">$ {{ totalPrice }}</v-col>
        <v-col cols="6"></v-col>
      </v-row>
    </v-card-text>

    <v-divider></v-divider>
  </v-card>
</template>

<script>
  export default {
    props: ["transport"],
    watch: {
      transport: function() {
        const t = this.prices.find(p => p.transport === this.transport)
        console.log(t)
        this.totalPrice += t.price;
      }
    },
    data() {
      return {
        totalPrice: 0,
        prices: [
          {
            transport: "Bus",
            price: 4
          },
          {
            transport: "Scooter",
            price: 2
          },
          {
            transport: "Car",
            price: 8
          }
        ]
      };
    }
  };
</script>

<style scoped>
</style>
