<template>
  <v-card max-width="434">
    <h1>{{ localName }}</h1>
    <v-row align="end" class="fill-height">
      <v-col align-self="start" class="pa-0" cols="12">
        <v-img width="200" src="@/assets/user.png"></v-img>
      </v-col>
      <v-col class="py-0">
        <v-list-item v-for="(item, i) in items" :key="i" :inactive="inactive">
          <v-list-item-avatar>
            <v-img src="@/assets/medal.png"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title v-html="item.title"></v-list-item-title>
            <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  export default {
    name: "ProfileCompact",
    props: ["name"],
    watch: {
      name() {
        this.localName = this.name;
      }
    },
    data() {
      return {
        localName: "",
        items: [
          {
            title: "Daffodil Dash",
            subtitle: "Take a scooter through Hagley park during spring"
          },
          {
            title: "Bus Tanker",
            subtitle: "Take a bus outside of Christchurch"
          }
        ]
      };
    }
  };
</script>

<style scoped>
</style>
